# Git
REPO_URL="https://codeup.aliyun.com/puyu/atm-cd/atm-cd.git"
BRANCH="master"
WORK_DIR="/Users/chenzhuo/project/deploy-work/atm-cd"

# SSH
SSH_USER="root"
SSH_PASSWORD=""
APP_HOST="8.161.226.223"
BIGDATA_HOST="8.161.227.173"
MYSQL_HOST="8.130.65.254"

# Remote dirs
REMOTE_BASE="/data"
REMOTE_SERVICES_DIR="/data/atm-pre-services"
REMOTE_GATEWAY_DIR="/data/atm-gateway-pre"
REMOTE_UI_DIR="/data/atm-ui-pre"
REMOTE_BIGDATA_DIR="/data/bigdata-pre"

# Build
MAVEN_PROFILE="pre"
UI_BUILD_CMD="pnpm build:pre"
